.main__wrapper {
    width: 100%;
    height: 90vh;
    transform: translate(100%);
}

.form__container {
    width: 450px;
    height: 250px;
    margin: 50px auto;
    background-color: white;
    border-radius: 3px;
    box-shadow: 2px 2px 4px gray;
}

.form__title {
    background-color: #305DFF;
    color: white;
    font-weight: bold;
    padding: 20px 20px;
    border-radius: 3px 3px 0 0;
}

.form {
    width: 80%;
    margin: 0 auto;
}

.form-item {
    display: flex;
    align-items: flex-end;
    height: 50px;
}

.form-icon {
    width: 15%;
    text-align: center;
}

.form-icon img {
    width: 50%;
    height: 50%;
}

.form-text {
    width: 80%;
    padding: 0 10px;
}

.form-text input {
    width: 100%;
    border: none;
    outline: none;
    border-bottom: 1px solid #000;
}

input::placeholder {
    font-size: 16px;
}

.form-button {
    height: 50px;
    display: flex;
    justify-content: end;
    align-items: flex-end;
    margin-top: 20px;
}

.form-button button {
    background-color: #305DFF;
    color: white;
    border: none;
    border-radius: 3px;
    padding: 10px 20px;
}