.card {
    width: 30%;
    margin: 0 auto;
    background-color: white;
    border-radius: 3px;
    box-shadow: 1px 1px 2px #000;
}

.card__title {
    background-color:ã€€#244BCD;
    padding: 10px;
}