.mail-text {
    width: 50%;
    margin: 50px auto;
    text-align: center;
}

.mail-message {
    color: #305DFF;
    width: 50%;
    margin: 20px auto;
    text-align: center;
}

.mail-box {
    width: 50%;
    margin: 0 auto;
    text-align: center;
}

.mail-button {
    width: 200px;
    height: 40px;
    margin: 20px auto;
    border: none;
    background-color: gray;
    color: white;
}

.logout-button {
    border: 1px solid gray;
}

@media screen and(max-width:768px) {
    .
}