.header__nav {
    display: none;
}

.back {
    width: 80%;
    height: 50px;
    display: flex;
    justify-content: end;
    align-items: center;
    margin: 0 auto;
}

.back button {
    background-color: white;
    color: #305DFF;
    border: 1px solid #305DFF;
    border-radius: 3px;
    padding: 10px 20px;
    margin-left: 10px;
}

.main__container {
    width: 80%;
    margin: 0 auto;
    text-align: center;
}

.main__container p {
    font-size: 20px;
    padding-bottom: 10px;
}

.main__container textarea {
    width: 60%;
    height: 200px;
    margin-bottom: 10px;
}

.send__button button {
    background-color: #305DFF;
    color: white;
    border: 1px solid #305DFF;
    border-radius: 3px;
    padding: 10px 20px;
    margin-bottom: 10px;
}

.message {
    color: #305DFF;
    text-align: center;
}

@media screen and (max-width:480px) {
    .header__wrapper {
        width: 90%;
        padding: 20px;
    }

    .header__logo {
        left: 30px;
    }
    
    .main__container textarea {
        width: 90%;
    }
}