.header__nav {
    display: none;
}

.home-button {
    width: 80%;
    height: 50px;
    display: flex;
    justify-content: end;
    align-items: flex-end;
    margin: 0 auto;
}

.home-button button {
    background-color: white;
    background-color: #305DFF;
        color: #;
    border: none;
    border-radius: 3px;
    padding: 10px 20px;
}