.header__nav {
    display: none;
}

.home-button {
    width: ;
    height: 50px;
    display: flex;
    justify-content: end;
    align-items: flex-end;
    margin-top: 20px;
}

.home-button button {
    background-color: #305DFF;
    color: white;
    border: none;
    border-radius: 3px;
    padding: 10px 20px;
}