body {
    background-color: whitesmoke;
    width: 100vw;
    height: 100vh;
}

.header {
    width: 80%;
    height: 10%;
    margin: 0 auto;
    display: flex;
    align-items: center;
}

.header__logo {
    color: #305DFF;
    font-size: 30px;
}

/* モーダル　＊/
.modal