.header__wrapper {
    width: 90%;
}

.main {
    padding: 0;
}

.main__container {
    display: grid;
    grid-template-rows: 130px 1fr;
    grid-template-columns: 50% 1fr;
}

.shop__container {
    grid-row: 2/3;
    grid-column: 1/2;
    width: 80%;
    margin: 0 50px 50px;
}

.shop__name-area {
    display: flex;
    align-items: center;
    padding-bottom: 30px;
}

.shop__name-area button {
    width: 30px;
    height: 30px;
    font-size: 20px;
    background-color: white;
    border: none;
    border-radius: 3px;
    box-shadow: 2px 2px 4px gray;
}

.shop__name-area h2 {
    padding-left: 20px;
    font-size: 30px;
}

.shop__img {
    width: 100%;
}

.shop__img img {
    width: 100%;
}

.shop__tag {
    padding: 30px 0;
}

.shop__outline {
    line-height: 1.3;
}

.review__container {
    width: 100%;
    height: 90%;
    grid-row: 2/3;
    grid-column: 2/3;
}

.review__wrap {
    background-color:  white;
    padding: 20px 20px 160px;
    margin-top: 60px;
    margin-right: 50px;
}

.review__title {
    color: #000000;
    padding: 20px;
    font-size: 24px;
}

.review__form {
    display: flex;
    flex-direction: row-reverse;
    justify-content: flex-end;
    padding-left: 20px;
}

.review__score {
    display: none;
}

.review__score-label {
    cursor: pointer;
    transition: color 0.3s;
    margin-right: 10px;
}

.review__score-label img {
    width: 40px;
    height: 40px;
}

.review__score-label:hover,
.review__score-label:hover ~ .review__score-label,
.review__score:checked ~.review__score-label{
    filter: brightness(0) saturate(100%) invert(67%) sepia(15%) saturate(3827%) hue-rotate(4deg) brightness(106%) contrast(98%);
}

.review__comment {
    width: 60%;
    padding: 20px;
}

.review__button {
    height: 50px;
    display: flex;
    align-items: center;
    margin-right: 50px;
    border-radius: 0 0 5px 5px;
    text-align: center;
}

.review__button button {
    width: 100%;
    height: 100%;
    font-size: 16px;
    border: none;
    border-radius: 0 0 5px 5px;
    background-color: #0438FF;
    color: white;
    margin-bottom: 20px;
}

.reservation__error {
    color: white;
    font-size: 14px;
    margin-bottom: 20px;
}

@media screen and (max-width:768px) {
    .main {
        padding-top: 130px;
    }

    .header__wrapper {
        width: 90%;
        padding: 20px;
    }

    .main__container {
        align-items: stretch;
        padding: 0 20px;
    }

    .shop__container {
        grid-row: 1/3;
        grid-column: 1/2;
    }

    .reservation__wrap {
        height: auto;
        padding: 20px 20px 30px;
        margin: 0 20px;
    }

    .reservation__date {
        width: 90%;
        margin: 15px 0;
    }

    .reservation__time,
    .reservation__number {
        margin: 0 0 15px;
    }

    .reservation__confirm {
        margin: 0;
    }

    .update__button {
        margin: 0 20px;
    }
}