.main__container {
    transform: translateX(100%);
    display: flex;
    padding: 50px;
}

.shop__container {
    width: 50%;
    margin-right: 25px;
}

.shop__name-area {
    display: flex;
    align-items: center;
    padding-bottom: 30px;
}

.shop__name-area button {
    width: 30px;
    height: 30px;
    font-size: 20px;
    background-color: white;
    border: none;
    border-radius: 3px;
    box-shadow: 2px 2px 4px gray;
}

.shop__name-area h2 {
    padding-left: 20px;
    font-size: 30px;
}
.shop__img {
    width: 100%;
}

.shop__img img{
    width: 100%;
}

.shop__tag {
    padding: 30px 0;
}

.shop__outline {
    line-height: 1.3;
}

.reservation__container {
    width: 50%;
    margin-left: 25px;
    background-color: #2F5BFB;
    border-radius: 3px;
    padding: 20px;
}

.reservation__title {
    color: white;
    padding: 20px 0;
    font-size: 20px;
}

.reservation__date {
    width: 40%;
    height: 30px;
    border: none;
    border-radius: 3px;
    padding-left: 10px;
    margin-bottom: 10px;
}

.reservation__time {
    width: 100%;
    height: 30px;
    border: none;
    border-radius: 3px;
    padding-left: 10px;
    margin-bottom: 10px;
}

.reservation

.reservation__button {
    background-color: #0438FF;
}